* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
    color: var(--color-dark-24)
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a, 
button, 
input, 
select,
textarea {
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
}